/* Style consistent elements */
body{ 
    font-size: 16pt;
    background-color: #F0F8FF;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;

}
header{
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 0px 15px 0px;
}
.title{
    background-color: #c5e3fc;
}
h1{
    font-family: 'Tenor Sans';
    font-size: 2em;
    text-align: center;
    padding:15px 0px;
}
h2{
    font-family: 'Tenor Sans';
    font-size: 1em;
    text-align: center;
    padding:15px 0px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.navbar{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}
nav a{
    font-family: 'Fahkwang';
    font-size: 0.85em;
    color: black;
    text-decoration: none;
    line-height: 1.6;
}
.nav_links{
    text-align: center;
    padding: 5px 0px;
}
#current{
    background-color: #4aadff;
    font-weight: bolder;
    font-size: 1.35em;
    width: 100%;
    box-shadow: 0 0 7px 7px #a6a6a6; 
}
.skip a{
    background: #F0F8FF;
    color: black;
    text-decoration: none;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    position: absolute;
    top: -40px;
}
  
.skip a:focus{
    position: absolute;
    top: 0px;
  }
p, h4, h5{
    font-family: 'Fahkwang';
    font-size: 0.80em;
    padding: 15px;
    line-height: 1.5;
}
main{
    display: flex;
    flex-flow: column nowrap;
}
*:focus{
    border: 3px dotted black;
}
img{
    align-self: center;
    padding: 10px;
    box-shadow: 0 0 7px 7px #a6a6a6; 
    width: 125px;
}
.main_photo{
    width: 25%;
    height: auto;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    font-size: .75em;
    background-color: black;
    color: white;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.grid img{
    width: 100%;
    height: auto;
    padding: 0px;
}
.billy_img{
    max-width: 100%;
    height: auto;
    grid-column: 1/-1;
    grid-row: 1/2;
}
.billy_text{
    grid-column: 1/-1;
    grid-row: 2/3;
}
.luna_img{
    grid-column: 1/-1;
    grid-row: 3/4;
}
.luna_text{
    grid-column: 1/-1;
    grid-row: 4/5;
}
/* Contact Form Styling */
.display{
    padding: 0px 30px;
}
form{
    padding: 10px;
    
}
.form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
}
.grid1{
    margin:auto;
    font-family: 'Tenor Sans';
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 15px;
}

.divs{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0px;
}
label{
    grid-column: 1/2;
    font-family: 'Fahkwang';
    font-size: 0.85em;
}
input{
    grid-column: 2/-1;
    font-family: 'Fahkwang';
    font-size: 0.5em;
}
#msg_id{
    grid-column: 2/-1;
    font-family: 'Fahkwang';
    font-size: 0.5em;
}
.format{
    grid-column: 2/-1;
    font-family: 'Fahkwang';
    font-size: 0.65em;
    padding-top: 5px;
}
.submit{
    font-family: 'Fahkwang';
    font-size: 0.85em;
}
.academics{
    padding: 0px 30px;
}
.academics h3{
    font-family: 'Tenor Sans';
    font-size: .90em;
    font-weight: bold;
    list-style-position: inside; 
    padding: 5px 0px;
    list-style-type: square;
}
.academics li{
    font-family: 'Fahkwang';
    font-weight: normal;
    padding: 0px 20px;
    font-size: 0.80em;
}
.headings{
    padding: 10px 0px 5px 0px;
}
/* Parallax Image */
.parallax{
    background-attachment: fixed;  
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
  
    background-image: url("../imgs/Mike.jpg");
    background-position: 35% 0%;
    background-size: 200%;
    background-repeat: no-repeat; 
  
    grid-column: 1 / -1;
    grid-row: 1 / auto;
  }
.Equestrian h3{
    padding: 30px 0px 0px 0px;
    text-align: center;
    font-family: 'Tenor Sans';
    font-size: .95em;
}
/*Image Gallery */
.gallery{
    font-size: 1.25em;
}
.container{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto;

}
.container img{
    padding: 0px;
    box-shadow: none;
    width: 100%;
    border-radius: 30px;
}

.container p:hover{
    background-color: rgb(240, 248, 255, 0.5);
    color: rgba(0, 0, 0, 1);
}
.container p{
    box-sizing: border-box;
    height: 100%;
    vertical-align: middle;
    border-radius: 30px;
    padding: 0px;  
    width: 100%;
    padding: 4vw 1vw 0vw 1vw;
    font-size: 3vw;
    color: rgba(0, 0, 0, 0);
} 

.item1, .text1, .item4, .text4, .item7, .text7, .item10, .text10{
    grid-column: 1/2;
}
.item2, .text2, .item5, .text5, .item8, .text8, .item11, .text11{
    grid-column: 2/3;
}
.item3, .text3, .item6, .text6, .item9, .text9, .item12, .text12{
    grid-column: 3/-1;
}
.item1, .text1, .item3, .text3{
    grid-row: 1/span 4;
}
.item2, .text2{
    grid-row: 1/span 6;
}
.item4, .text4{
    grid-row: 5/span 8;
}
.item5, .text5{
    grid-row: 7/span 4;
}
.item6, .text6{
    grid-row: 5/span 4;
}
.item7, .text7{
    grid-row: 13/span 4;
}
.item8, .text8{
    grid-row: 11/span 6;
}
.item9, .text9{
    grid-row: 9/ span 8;
}
.item10, .text10, .item11, .text11, .item12, .text12{
    grid-row: 17/span 4;
}
.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0);
}
/* UMET */
.umet{
    background-attachment: fixed;  
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
  
    background-image: url("../imgs/umet.JPG");
    background-position: 35% 0%;
    background-size: 200%;
    background-repeat: no-repeat; 
  
    grid-column: 1 / -1;
    grid-row: 1 / auto;
  }
  .umet h2{
    display: flex;
    color: black;
    font-size: 1.25em;
    height: 150px;
    padding: 0px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
@-webkit-keyframes name{
    0%   {top: -80px;}
    100% {top: 0px;}
}
  
@keyframes  name{
   0%   {top: -80px;}
   100% {top: 0px;}
  
} 
.myname{
   width: 100vw;
   position: relative;
   animation: name 5s 1;  
}

@media all and (min-width: 800px){
    .main_photo{
        width: 30%;
        height: auto;
    }
    .navbar{
        flex-flow: row nowrap;
        width: auto;
    }
    .nav_links{
        padding: 15px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 3fr 5fr 3fr 1fr;
        grid-template-rows: auto auto auto auto auto;
    }

    .billy_img{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .billy_text{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .luna_img{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .luna_text{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    #resume{
        width: 800px;
        height: 1000px;
    }
}

