/* Style consistent elements */
body{ 
    font-size: 16pt;
    background-color: #e1eafa;
    min-height: 1000px;
    margin-bottom: 100px;
}
html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
header{
    display: flex;
    flex-flow: column nowrap;
}
.title{
    background-color: #c0d5fa;
}
h1, .myname1{
    font-family: 'Tenor Sans';
    font-size: 40px;
    text-align: center;
    color: black;
    text-decoration: none;
    padding:15px 0px;
}
h2 {
    font-family: 'Tenor Sans';
    text-align: center;
    padding:15px 0px;
    font-size: 25px;
}
h3 {
    font-family: 'Tenor Sans';
    text-align: center;
    padding:15px 0px;
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.navbar, .navbar-responsive{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}
nav a{
    font-family: 'Fahkwang';
    font-size: 17.5px;
    color: black;
    text-decoration: none;
    line-height: 1.6;
}
.nav_links{
    text-align: center;
    padding: 5px 0px;
}
#current{
    background-color: #313f59;
    width: 100%;
    box-shadow: 0 0 7px 7px #a6a6a6; 
}
#current a{
    font-weight: bolder;
    font-size: 22.5px;
    color: white;
}

.skip a{
    background: #F0F8FF;
    color: black;
    text-decoration: none;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    position: absolute;
    top: -40px;
}
  
.skip a:focus{
    position: absolute;
    top: 0px;
  }
p, h4, h5, .academics li{
    font-family: 'Fahkwang';
    padding: 10px 50px;
    font-size: 15px;
    line-height: 1.5;
}
main{
    display: flex;
    flex-flow: column nowrap;
}
*:focus{
    border: 3px dotted black;
}

.main_photo{
    width: 225px;
    height: 315px;
    box-shadow: 0 0 7px 7px #a6a6a6; 
}

.aboutpg{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    row-gap: 50px;
    padding: 100px 0px;
}
.about-txt{
    grid-column: 1/-1;
    grid-row: 4/5;
}
.introduce{
    padding: 10px 50px;
}
.color-block{
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 100%;
    height: 150px;

}
/* flipcard? */
.flip-card {
    width: 225px;
    height: 315px;
    perspective: 1000px;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/4;
}
  
.flip-card-inner {
    width: 225px;
    height: 315px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 225px;
    height: 315px;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: #313f59;
    color: white;
    box-shadow: 0 0 7px 7px #a6a6a6; 
    transform: rotateY(180deg);
}
.flip-name{
    font-size: 80px;
    color: white;
}
.flip-txt{
    font-size: 13.75px;
    padding: 6.25px 25px;
}
footer p, h5{
    padding: none;
    font-family: 'Fahkwang';
    font-size: 1em;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    overflow: hidden;
    font-size: 12px;
    background-color: black;
    color: white;
    text-align: center;
}
.Equestrian{
    display: none;
}
.equitation, .hunter, .jumper{
    padding: 7.5px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.grid img{
    width: 100%;
    height: auto;
    padding: 0px;
}
.billy_img{
    max-width: 100%;
    height: auto;
    grid-column: 1/-1;
    grid-row: 1/2;
}
.billy_text{
    grid-column: 1/-1;
    grid-row: 2/3;
}
.luna_img{
    grid-column: 1/-1;
    grid-row: 3/4;
}
.luna_text{
    grid-column: 1/-1;
    grid-row: 4/5;
}
/* Contact Form Styling */
/* .display{
    padding: 0px 30px;
} */
.contact-grid{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto;
}
form{
    padding: 50px;
    grid-column: 1/-1;
    grid-row: 1/2;
}
.contact-color{
    grid-column: 1/-1;
    width: 100%;
    max-height: 100px;
    grid-row: 3/4;
    overflow: hidden;
}
.contact-img{
    grid-column: 2/3;
    width: 225px;
    grid-row: 2/5;
    box-shadow: 0 0 7px 7px #a6a6a6; 
}

.form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 25px;
}
.grid1{
    margin:auto;
    font-family: 'Tenor Sans';
    font-size: 20px;
    font-weight: bold;
}

.divs{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0px;
}
label{
    grid-column: 1/2;
    font-family: 'Fahkwang';
    font-size: 15px;
}
input{
    grid-column: 2/-1;
    font-family: 'Fahkwang';
    font-size: 10px;
}
#msg_id{
    grid-column: 2/-1;
    font-family: 'Fahkwang';
    font-size: 10px;
}
.format{
    grid-column: 2/-1;
    font-family: 'Fahkwang';
    font-size: 10.4px;
    padding-top: 5px;
}
.submit{
    font-family: 'Fahkwang';
    font-size: 13.6px;
}
.academics {
    padding: 35px 35px;
}
.academics h3{
    font-family: 'Tenor Sans';
    font-weight: bold;
}
.academics li{
    list-style-position: inside;
    padding: 5px 20px;
}
.education, .experience, .skills, .awards{
    padding: 10px 0px;
}
.border{
    border: 3px dotted black;
}
.skills h2{
    grid-column: 1/-1;
}
.skills .border {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col1{
    grid-column: 1/2;
}
.col2{
    grid-column: 2/3;
}

/* Parallax Image */
.parallax{
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
  
    background-image: url("../imgs/Mike.jpg");
    background-position: center;
    background-repeat: no-repeat; 
  
    grid-column: 1 / -1;
    grid-row: 1 / auto;
  }
.Equestrian h3{
    padding: 30px 0px 0px 0px;
    text-align: center;
    font-family: 'Tenor Sans';
    font-size: 15.2px;
}
.Equestrian{
    padding: 0px 75px;
}
/*Image Gallery */
.gallery{
    padding: 30px 0px 30px 0px;
    font-size: 20px;
    text-align: center;
    font-family: 'Tenor Sans';
}
.container{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto;
    padding-bottom: 150px;

}
.container img{
    padding: 0px;
    box-shadow: none;
    width: 100%;
    border-radius: 30px;
}

.container h4:hover{
    background-color: rgb(240, 248, 255, 0.5);
    color: rgba(0, 0, 0, 1);
}

.container h4:focus-within{
    background-color: rgb(240, 248, 255, 0.5);
    color: rgba(0, 0, 0, 1);
}

.container h4{
    box-sizing: border-box;
    height: 100%;
    vertical-align: middle;
    border-radius: 30px;
    padding: 0px;  
    width: 100%;
    padding: 20px 5px 0px 5px;
    font-size: 3vw;
    color: rgba(0, 0, 0, 0);
} 

.item1, .text1, .item4, .text4, .item7, .text7, .item10, .text10{
    grid-column: 1/2;
}
.item2, .text2, .item5, .text5, .item8, .text8, .item11, .text11{
    grid-column: 2/3;
}
.item3, .text3, .item6, .text6, .item9, .text9, .item12, .text12{
    grid-column: 3/-1;
}
.item1, .text1, .item3, .text3{
    grid-row: 1/span 4;
}
.item2, .text2{
    grid-row: 1/span 6;
}
.item4, .text4{
    grid-row: 5/span 8;
}
.item5, .text5{
    grid-row: 7/span 4;
}
.item6, .text6{
    grid-row: 5/span 4;
}
.item7, .text7{
    grid-row: 13/span 4;
}
.item8, .text8{
    grid-row: 11/span 6;
}
.item9, .text9{
    grid-row: 9/ span 8;
}
.item10, .text10, .item11, .text11, .item12, .text12{
    grid-row: 17/span 4;
}
.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0);
}
/* UMET */
.umet{
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;

  
    background-image: url("../imgs/umet.JPG");
    background-position: center;
    background-repeat: no-repeat; 
  
    grid-column: 1 / -1;
    grid-row: 1 / auto;
}

.umet h2{
    display: flex;
    color: black;
    font-size: 20px;
    height: 150px;
    padding: 0px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.umet-txt{
    padding: none;
    font-size: 12.5px;
}
.socials{
    padding: 0px 125px;
    display: flex;
    flex-direction: column;
    padding-bottom: 175px;
}
.socials a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    vertical-align: middle;
}
.facebook a::first-letter{
    color: #4267B2;
    font-size: 25px;
}
.instagram a::first-letter {
    border-radius: 3.75px;
    font-size: 25px;
    padding: 1px 1px 0.5px 1.5px;
    color: white;
    background-image: linear-gradient(135deg, #405DE6 , #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}
.facebook, .instagram {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

@-webkit-keyframes name{
    0%   {top: -80px;}
    100% {top: 0px;}
}
  
@keyframes  name{
   0%   {top: -80px;}
   100% {top: 0px;}
  
} 
.myname{
   width: 100vw;
   position: relative;
   animation: name 5s 1;  
}


@media all and (max-width: 600px){
    /* responsive navbar */
    .navbar li:not(:first-child) {
        display: none;
    }
    .navbar-responsive {
        position: relative;
    }
    .navbar-responsive #light {
        display:block;
        position: absolute;
        color: white;
        right: 0;
        top: 0;
    }
    .navbar-responsive li {
        display: block;
    }
    .navbar-responsive .icon, .navbar .icon1 {
        display:none;
    }
    .navbar-responsive .icon1{
        display:block;
        position: absolute;
        color: black;
        font-size: 25px;
        right: 0;
        top: 0;
    }
    .navbar .icon {
        position: relative;
        font-size: 30px;
    }
}
@media all and (min-width: 601px){
    h1, .myname1{
        font-size: 45px;
        color: black;
        text-decoration: none;
    }
    h2, .grid1{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    nav a{
        font-size: 2.5vw;
    }
    #current a{
        font-size: 3.5vw;
    }
    .flip-name{
        padding: 2vw 5vw;
    }
    .academics{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 75px;
    }
    .education, .experience, .click{
        grid-column: 1/-1;
    }
    .skills{
        grid-column: 1/2;
        grid-row: 3/span 1;
        padding-right: 15px;
    }
    .awards{
        grid-column: 2/-1;
        grid-row: 3/span 1;
        padding-left: 15px;
    }
    .eq-flex{
        display: flex;
    }
    .eq-hidden{
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-row-gap: 30px;
    }
    .hunter, .equitation, .jumper {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        border: 1.25vw solid #5b75a4;
        background-color: white;
    }
    .eq-hidden h3{
        padding: 25px 0px;
        
    }
    .eq-h2{
        margin: 0;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .eq-p {
        margin: 0;
        grid-column: 1/2;
        grid-row: 3/4;
    } 
    .separator{
        background-color: black;
        height: .5vw;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .umet-txt{
        padding: 0px 75px;
        font-size: 2.5vw;
    }

    .navbar-responsive .icon, .navbar .icon1, .navbar-responsive .icon1, .navbar .icon {
        display:none;
    }
    input, .format, #msg_id{
        font-size: 12px;
    }


}
@media all and (min-width: 1025px){
    h1, .myname1{
        font-size: 40px;
        padding: 25px 0px;
        color: black;
        text-decoration: none;
    }
    footer p, h5, .academics li{
        padding: none;
        font-family: 'Fahkwang';
        font-size: 18.5px;
    }
    p{
        padding: 15px 50px;
    }
    nav a{
        font-size: 20px;
    }
    #current a{
        font-size: 25px;
    }
    .main_photo{
        width: 250px;
        height: 350px;
    }
    .aboutpg{
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr;
        padding: 100px 0px;
    }
    .about-txt{
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .intro {
        padding: 5px 50px;
    }
    .color-block{
        grid-column: 1/3;
        grid-row: 2/3;
        width: 25vw;
        height: 150px;
    
    }
    /* flipcard? */
    .flip-card {
        grid-column: 2/3;
        grid-row: 1/4;
        width: 250px;
        height: 350px;
    }
    .flip-card:hover .flip-card-inner,
    .flip-card:focus-within .flip-card-inner {
        transform: rotateY(180deg);
    }
      
    .flip-card-inner {
        width: 250px;
        height: 350px;
    }
      
    .flip-card-front, .flip-card-back {
        width: 250px;
        height: 350px;
    }
    .navbar{
        flex-flow: row nowrap;
        width: auto;
    }
    .nav_links{
        padding: 15px;
    }

    .academics{
        grid-template-columns: 1fr 1fr;
        padding: 0px 150px;
        padding-bottom: 50px;
    }

    .education{
        padding: 2vw 0vw;
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
    }
    .education h2{
        align-self: center;
    }
    .content{
        align-self: center;
    }
    .experience{
        padding: 20px 25px 0px 0px;
        grid-column: 1/span 1;
        grid-row: 2/4;
    }

    .skills{
        padding: 0px 0px 0px 0px;
        grid-column: 2/-1;
        grid-row: 2/3;
    }
    .awards{
        padding: 20px 0px;
        grid-column: 2/-1;
        grid-row: 3/4;
    }
    .contact-grid{
        display:grid;
        grid-template-columns: 1fr 5fr 1fr 1fr;
    }
    form{
        padding: 10px;
        grid-column: 2/3;
        grid-row: 1/6;
    }
    .contact-color{
        padding-left: 10px;
        grid-column: 3/-1;
        width: 100%;
        max-height: 100px;
        grid-row: 3/4;
        overflow: hidden;
    }
    .contact-img{
        grid-column: 3/4;
        width: 250px;
        grid-row: 2/6;
    }
    .eq-hidden{
        display: none;
        grid-template-columns: 1fr 8fr 1fr;
    }
    .hunter, .equitation, .jumper {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr 0.03fr 5fr;
        grid-template-rows: auto;

    }
    .eq-h2{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .eq-hidden h3{
        padding: 25px 0px;
    }
    .separator{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 100%;
    }
    .eq-p {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .eq-flex{
        display: flex;
    }
    .galler, .container{
        grid-column: 1/-1;
    }
    .Equestrian{
        display: grid;
        align-self: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .Equestrian p{
        padding:20px;
    }
    .Equestrian h2{
        font-size: 25px;
    }

    /* EQ Flip Card */
    .flip-card1,
    .flip-card2,
    .flip-card3 {
        width: 300px;
        height: 475px;
        perspective: 1000px;
        align-self: center;
        grid-column: 2/3;
        grid-row: 1/4;
    }
    
    .flip-card-inner1,
    .flip-card-inner2,
    .flip-card-inner3 {
        width: 300px;
        height: 475px;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .flip-card-front1, .flip-card-back1, 
    .flip-card-front2, .flip-card-back2, 
    .flip-card-front3, .flip-card-back3 {
        width: 300px;
        height: 475px;
        position: absolute;
        backface-visibility: hidden;
    }
    
    .flip-card1:hover .flip-card-inner1,
    .flip-card1:focus-within .flip-card-inner1,
    .flip-card2:hover .flip-card-inner2,
    .flip-card2:focus-within .flip-card-inner2,
    .flip-card3:hover .flip-card-inner3,
    .flip-card3:focus-within .flip-card-inner3  {
        transform: rotateY(180deg);
    }

    .flip-card-back1,
    .flip-card-back2,
    .flip-card-back3 {
        background-color: #313f59;
        color: white;
        box-shadow: 0 0 7px 7px #a6a6a6; 
        transform: rotateY(180deg);
    }

    .flip-card-front1,
    .flip-card-front2,
    .flip-card-front3 {
        border: 12.5px solid #5b75a4;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .card1{
        grid-column: 1/2;
    }
    .card2{
        grid-column: 2/3;
    }
    .card3{
        grid-column: 3/4;
    }
    .card1, .card2, .card3{
        padding: 25px;
        grid-row: 1/2;
    }
    .flip-name{
        font-size: 25px;
        padding: 15px 15px;
    }
    .flip-txt{
        font-size: 15px;
        padding: 5px 30px;
    }
    .navbar-responsive .icon, .navbar .icon1, .navbar-responsive .icon1, .navbar .icon {
        display:none;
    }
    .socials{
        font-size: 20px;
    }
    .socials a{
        text-decoration: none;
    }
    .socials h3{
        text-align: left;
    }
}
@media (prefers-reduced-motion){
    /*Add media query to handle reduced-motion*/
    .myname{
      position: relative;
      animation: none;
    }
    .eq-hidden{
        display: grid;
    }
    .Equestrian{
        display: none;
    }
    .flip-card:hover .flip-card-inner, 
    .flip-card:focus-within .flip-card-inner {
        transform: rotateY(0deg);
    }
    .flip-card1:hover .flip-card-inner1,
    .flip-card1:focus-within .flip-card-inner1,
    .flip-card2:hover .flip-card-inner2,
    .flip-card2:focus-within .flip-card-inner2,
    .flip-card3:hover .flip-card-inner3,
    .flip-card3:focus-within .flip-card-inner3  {
        transform: rotateY(0deg);
    }
